<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>PROJECT3</title>
</head>

<body>

    <div class="container1">
        <header>
            <div class="logo">
                <img src="img/logo.png" alt="">
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="#" class="linkNavbar">Home</a></li>
                    <li><a href="#" class="linkNavbar">Product</a></li>
                    <li><a href="#" class="linkNavbar">About</a></li>
                    <li><a href="#" class="linkNavbar">Contact</a></li>
                </ul>
            </div>
            <div class="login">
                <input type="button" value="Login">
            </div>
        </header>
        <div class="textWrapper">
            <h2>Lightning fast prototyping</h2>
            <p>Most calendars are designed for teams.<br> Slate is
                designed for freelancers.</p>
        </div>
        <div class="buttonWrapper1">
            <button>Get Started</button>
            <button>Try For Free</button>
        </div>
        <div class="circlesBlock">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="flatBrowser">
                <img src="img/Flat Browser.png" alt="image">
            </div>
            
        </div>
       

    </div>

</body>

</html>