<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>dashboard</title>
</head>

<body>
    <div class="wrapper">
        <!------------------------------------------------------------->
        <div class="sidebar">
            <div class="logo">SaaS Kit</div>
            <div class="profileBlock">
                <div>
                    <img src="img/profile_photo.png" alt="profile_photo">
                </div>
                <div>
                    <h4 .class="profileName">Sierra Ferguson</h4>
                    <p .class="emailAdress">s.ferguson@gmail.com</p>
                </div>
            </div>
            <div class="navbarBlock">
                <ul>
                    <li>Dashboard</li>
                    <li>Tasks</li>
                    <li>Email</li>
                    <li>Contacts</li>
                    <li>Chat</li>
                    <li>Deals</li>
                </ul>
            </div>
        </div>
        <!------------------------------------------------------------->
        <div class="globalSearch">global search</div>
        <!------------------------------------------------------------->
        <div class="content">content</div>
    </div>
</body>

</html>