<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>landing</title>
</head>
<body>
    <div class="open">
        <div class="layer"></div>
        <div class="layer"></div>
    </div>
    <section>
        <div class="bannerText">
            <h2>Совершенство</h2><br>
            <h3>в дизайне</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae vel aspernatur, 
                in impedit voluptates optio tenetur, minus animi cum possimus asperiores necessitatibus,
                at quibusdam quod blanditiis unde beatae provident. Aut?</p>
                <a href="#">Подробнее</a>
                
        </div>
        <img src="img/novoross.png" class="image"alt="1.png">
    </section>
</body>
</html>